@import './reset.css';
@import './variables.css';

body {
  font-family: Inter, system-ui, -apple-system, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

#root {
  min-height: 100vh;
}
