.navLink {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--mantine-color-dark-4);
  transition: background 0.1s, color 0.1s;
}

.navLink:hover {
  background: var(--mantine-color-gray-1);
  color: var(--mantine-color-dark-8);
}

.navLink.active {
  background: var(--mantine-color-gray-1);
  color: var(--mantine-color-dark-8);
}
